@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Sriracha&display=swap');




*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Sriracha', cursive;

}

header{
    
    box-shadow: 0px 3 px 10px #464646;
    background-color: #24252a;
    
}

.nav-bar{
    display: flex; /*tudo em uma linhas*/
    justify-content: space-between; /*deixar tudo separado*/
    padding: 1.5rem; 
}

.logo{
    /*combo centralizar letra*/
    display: flex;
    align-items: center;
    /**/
    color: white;
    font-size: 1.5rem;
    
}

.nav-list{
    /*deicou o bloco list centralizado*/
    display: flex;
    align-items: center;
}

.nav-list ul {
    /*deixou toda lista alinhanada*/
    display: flex;
    justify-items: center;
    list-style: none; /*tirou os pontinhos da lista*/

}

.nav-list a {
    color: #fff; /*cor do link branca*/
    
}

.nav-iten{ /*deixou margen entre os itens */
    margin: 0px 15px ;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem; /*tamnaho da fonte*/
    font-weight: 400;
}

.login-button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
    
}

.login-button a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    
}

/*escondendo menus */
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media scren and (max-widt:730px){
    .nav-bar{
        padding: 1.5rem;
    }

    .nav-iten{
        display: none;
    }

    .login-button{
        display: none;
    }
}